DirectoryIndex index.php

RewriteEngine On
RewriteRule ^index\.html$ /index.php [R=301,L]
RewriteRule ^projecten\.html$ /projecten.php [R=301,L]
RewriteRule ^project\.html$ /project.php [R=301,L,QSA]
RewriteRule ^grond-gezocht\.html$ /grond-gezocht.php [R=301,L]
RewriteRule ^over\.html$ /over.php [R=301,L]
RewriteRule ^contact\.html$ /contact.php [R=301,L]
RewriteRule ^cookies\.html$ /cookies.php [R=301,L]
RewriteRule ^voorwaarden\.html$ /voorwaarden.php [R=301,L]
RewriteRule ^admin\.html$ /admin/ [R=301,L]
